<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reset Password</title>
</head>

<body>
    <p>It seems like you have forgotten your password. Please use OTP <b><%= otp%></b> to change your password.</p>
    <p>Or Change you password by clicking <a href="<%= process.env.BASE_URL + '/reset-password/' + token %>">here</a>
    </p>
    <p>Choose a strong password and don't reuse it for other accounts.</p>
    <p>Changing your password will sign you out of all your devices, including your phone. You will need to enter your
        new password on all your devices.</p>
    <p><small>Note :
            OTP is valid only for next 15 Minitues.</small></p>
    <p>Please email us at care@ekport.com if you haven't requested for change of password.</p>
</body>

</html>